*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# test output
*new-test-output/*

# random files
*~
*#
Basic_input_output/.#random_stuff.py
Basic_input_output/.striprc
Basic_input_output/CIT_magic_example.sam
simple_examples/Circle.py
simple_examples/bar.txt
simple_examples/foo.txt
simple_examples/try_yum.py
simple_examples/try_yummy.py
simple_examples/yum.py
simple_examples/yummy.py
Cookbook_chapter_6/ConvertStations.py
Cookbook_chapter_6/ParseStations.py
Cookbook_chapter_6/ReadStations.py
Cookbook_chapter_6/UTM.py
Cookbook_chapter_6/matplotlib1.py
Cookbook_chapter_6/matplotlib2.py
Cookbook_chapter_6/matplotlib3.py
Cookbook_chapter_6/myfig.eps
Cookbook_chapter_6/myfuncs.py
Cookbook_chapter_6/printmess.py
Cookbook_chapter_6/pscript.py
Cookbook_chapter_6/shapes.py
Cookbook_chapter_6/some_stations
Cookbook_chapter_6/station.list
Cookbook_chapter_6/stations.txt
Cookbook_chapter_6/variables.py
test_angle.py
ReadStations.py
.DS_Store
Basic_input_output/new-test-output/*
Basic_input_output/*_new.out
Basic_input_output/all_output.txt
Basic_input_output/clean_errors_log.txt
Basic_input_output/clean_output_log.txt
Basic_input_output/errors_log.txt
Basic_input_output/long_errors_log.txt
Basic_input_output/tester_output.out