*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# test output
*new-test-output/*

# random files
*~
*#
Tests/.#random_stuff.py
Tests/.striprc
Tests/CIT_magic_example.sam
simple_examples/Circle.py
simple_examples/bar.txt
simple_examples/foo.txt
simple_examples/try_yum.py
simple_examples/try_yummy.py
simple_examples/yum.py
simple_examples/yummy.py
Cookbook_chapter_6/ConvertStations.py
Cookbook_chapter_6/ParseStations.py
Cookbook_chapter_6/ReadStations.py
Cookbook_chapter_6/UTM.py
Cookbook_chapter_6/matplotlib1.py
Cookbook_chapter_6/matplotlib2.py
Cookbook_chapter_6/matplotlib3.py
Cookbook_chapter_6/myfig.eps
Cookbook_chapter_6/myfuncs.py
Cookbook_chapter_6/printmess.py
Cookbook_chapter_6/pscript.py
Cookbook_chapter_6/shapes.py
Cookbook_chapter_6/some_stations
Cookbook_chapter_6/station.list
Cookbook_chapter_6/stations.txt
Cookbook_chapter_6/variables.py
test_angle.py
ReadStations.py
.DS_Store
Tests/new-test-output/*
Tests/*_new.out
Tests/all_output.txt
Tests/clean_errors_log.txt
Tests/clean_output_log.txt
Tests/errors_log.txt
Tests/long_errors_log.txt
Tests/tester_output.out
Tests/.#future_bash_script.txt
Tests/bootstrap_errors_list.txt
Tests/ex_out_clean_log.txt
Tests/ex_out_full_log.txt
Tests/ex_out_full_output.txt
Tests/extra_out_full_output.txt
Tests/extra_output_errors_list.txt
Tests/rename_me_clean_output.txt
Tests/rename_me_errors_list.txt
Tests/rename_me_full_output.txt
Tests/bootstrap_all_output.txt
Tests/random_all_output.txt
Tests/random_clean_output.txt
Tests/random_errors_list.txt
Tests/bootstrap_clean_output.txt
Tests/bootstrap_full_output.txt
Tests/extra_out_clean_output.txt
Tests/I_Like_Coffee.txt
Tests/hello.txt
hello_world.sh
Tests/all_errors_list.txt
Tests/random_full_output.txt
Tests/er_specimens.txt
Tests/.#Bootstrap.py